

:root {
  --primary-color: #0061fc;
  --secondary-color: #ffffff;
  --secondary-color-bg: rgba(26, 26, 26, 0.34);
  --background-color: #000000;
  --input-bg-color: #313131;
  --button-hover-color: darken(var(--primary-color), 10%);
  --invisible-text: rgba(138, 138, 138, 0.78);
  --font-family: 'Roboto', sans-serif;
  --gradient-bg: linear-gradient(to bottom, rgb(35, 35, 35) 25%, rgb(17, 17, 17) 100%);
}
